* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.header {
  background-color: rgba(2, 48, 49, 1);
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  justify-content: space-around;
  width: 100%;
}

.user-name {
  align-content: center;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  margin-top: 50px;
  padding: 10px 30px;
}

.menu {
  box-shadow: 10px 5px 5px rgba(3, 107, 82, 1);
  height: 40px;
  margin-top: 20px;
  max-width: 100%;
}

.link {
  color: rgba(2, 48, 49, 1);
  font-size: 25px;
  margin-top: 100px;
  padding: 10px 10%;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(3, 107, 82, 1);
  color: white;
  height: 60px;
}

.header img {
  height: 80px;
  margin-top: 10px;
  width: 100px;
}

